In [1]:
# Importing all required Libraries 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

#For Data Viz. 
import matplotlib.pyplot as plt
import seaborn as sns 

#For Warnings
import warnings
warnings.filterwarnings('ignore')

#For Options 
pd.set_option('display.max_columns' , None)
pd.set_option('display.max_rows', None)

In [2]:
def data_import(dataset) : 

    return pd.read_csv(dataset)


df  = data_import("../Dataset/07_12_2023_11_37_45_imdb.csv")
df.head()

,Unnamed: 0,Title,Rating,Year,Certification,Genre,Vote,Time
0,0,Superman & Lois,7.8,2021–,Not Rated,"Action, Adventure, Drama",36777.0,42 min
1,1,House of the Dragon,8.5,2022–,A,"Action, Adventure, Drama",332779.0,NaN
2,2,My Adventures with Superman,7.9,2023–,NaN,"Animation, Action, Adventure",1058.0,NaN
3,3,One Piece: Wan pîsu,8.9,1999–,7,"Animation, Action, Adventure",149914.0,24 min
4,4,Kandahar,6.0,2023,R,"Action, Thriller",12465.0,119 min

In [3]:
df = df.drop('Unnamed: 0' ,axis = 1)
df.head()

,Title,Rating,Year,Certification,Genre,Vote,Time
0,Superman & Lois,7.8,2021–,Not Rated,"Action, Adventure, Drama",36777.0,42 min
1,House of the Dragon,8.5,2022–,A,"Action, Adventure, Drama",332779.0,NaN
2,My Adventures with Superman,7.9,2023–,NaN,"Animation, Action, Adventure",1058.0,NaN
3,One Piece: Wan pîsu,8.9,1999–,7,"Animation, Action, Adventure",149914.0,24 min
4,Kandahar,6.0,2023,R,"Action, Thriller",12465.0,119 min

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          5000 non-null   object
 1   Rating         4693 non-null   float64
 2   Year           4884 non-null   object
 3   Certification  3102 non-null   object
 4   Genre          5000 non-null   object
 5   Vote           4693 non-null   float64
 6   Time           4481 non-null   object
dtypes: float64(2), object(5)
memory usage: 273.6+ KB

1. Rating,Certification,Vote and Time has missing values. Let's fix them.

In [5]:
# For Rating and vote. 

df.describe()

            Rating          Vote
count  4693.000000  4.693000e+03
mean      6.466184  7.587556e+04
std       1.295964  1.665617e+05
min       1.300000  6.000000e+00
25%       5.700000  5.018000e+03
50%       6.500000  1.714100e+04
75%       7.300000  6.811700e+04
max       9.800000  2.736993e+06

In [6]:
rating_mean = df['Rating'].mean()
vote_mean = df['Vote'].mean()


df['Rating'] = df['Rating'].fillna(rating_mean)
df['Vote'] = df['Vote'].fillna(vote_mean)

In [7]:
df['Vote'] = df['Vote'].astype(int)

In [8]:
df['Year'] = df['Year'].str.extract(r'(\d+)')

In [9]:
year_mode = df['Year'].mode()[0]


df['Year'] = df['Year'].fillna(year_mode)

In [10]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          5000 non-null   object
 1   Rating         5000 non-null   float64
 2   Year           5000 non-null   object
 3   Certification  3102 non-null   object
 4   Genre          5000 non-null   object
 5   Vote           5000 non-null   int32
 6   Time           4481 non-null   object
dtypes: float64(1), int32(1), object(5)
memory usage: 254.0+ KB

In [11]:
df['Time'] = df['Time'].str.extract(r'(\d+)')

In [16]:
time_mode = df['Time'].mode()[0]

df['Time'] = df['Time'].fillna(time_mode)

In [13]:
df['Certification'] = df['Certification'].replace(np.nan , 'Not Rated')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          5000 non-null   object
 1   Rating         5000 non-null   float64
 2   Year           5000 non-null   int32
 3   Certification  5000 non-null   object
 4   Genre          5000 non-null   object
 5   Vote           5000 non-null   int32
 6   Time           5000 non-null   int32
dtypes: float64(1), int32(3), object(3)
memory usage: 215.0+ KB

In [18]:
df.to_csv('../Cleaned Dataset/cleaned_df.csv')